.classpath
.project
.settings
.metadata
.ignore
target
*.log
.idea
*.iml
.idea
*.pyc
*FAILED.txt
*~
*sublime*
integration-tests/*.gz
integration-tests/result.txt
integration-tests/null
integration-tests/out.txt
bosconnector/src/test/java/META-INF/
business/src/test/java/META-INF/
connector-fake/src/main/java/META-INF/
data/src/test/java/META-INF/
domain/src/test/java/META-INF/
integration-tests/catalina.home_IS_UNDEFINED/
monitoring/src/test/java/META-INF/
security/src/test/java/META-INF/
integration-tests/hsqldb.pid

data/src/main/resources/db-tunnel.properties
data/src/main/resources/db-pre.properties
data/src/main/resources/db-local.properties
data/src/main/resources/db-pro-readonly.properties

domain/.gitignore
stuff/sample_calls/mias
patches
logs/
lib/
cdr/
config/
